# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
env/
venv/
ENV/
.venv/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Migrations (optional)
# */migrations/*.py
# !*/migrations/__init__.py

# Environment variables
.env

# IDE / Editor
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db
